DATABASE_URL="postgresql://user:password@host/db?sslmode=require"
BETTER_AUTH_SECRET="replace-with-openssl-rand-base64-32"
BETTER_AUTH_URL="http://localhost:3100"
BETTER_AUTH_TRUSTED_ORIGINS="http://localhost:3000,http://localhost:3001"
BETTER_AUTH_COOKIE_DOMAIN=".daviandrade.dev"
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3100"
NEXT_PUBLIC_BETTER_AUTH_TRUSTED_ORIGINS="http://localhost:3000,http://localhost:3001"
NEXT_PUBLIC_APP_WORK_SCHEDULE_URL="https://workschedule-dd.vercel.app/"
NEXT_PUBLIC_APP_SERIESAHOLIC_URL="http://localhost:3000"
NEXT_PUBLIC_APP_PORTFOLIO_URL="https://daviandrade-portfolio.vercel.app/"
NEXT_PUBLIC_APP_ASEBILI_STUDENT_URL="https://asebili-student.daviandrade.dev"
NEXT_PUBLIC_APP_ASEBILI_INSTRUCTOR_URL="https://asebili-instructor.daviandrade.dev"
RESEND_API_KEY=
RESEND_FROM_EMAIL="daviandrade.dev Auth daviandrade.dev@gmail.com"
ALLOW_DEV_MAIL_LOG=

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
